div.contenido {
  text-align: center;
}

h1.funcionario {
  font-family: "Mulish" sans-serif;
  padding: 30px;
}

div.identificador-log {
  position: block;
  display: inline-block;
  margin-left: auto !important;
  margin-top: 20px;
}
