@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #012677 4.17%, rgba(250, 47, 1, 0.205) 98.67%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

body{
    background-color: transparent !important;
}