.inputTexto {
    width: 100%;
    height: 40px;
    background: #FDF9F9;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border-width: 0px !important;
    flex-grow: 0;
    z-index: 2;
}

.inputTexto>input {
    outline: none;
    width: 80%;
    margin-top: 1.5%;
    margin-left: 45px;
    top: 50%;
    border-width: 0px !important;
    background-color: transparent;
}